body{
    margin: 0;
}

h1{
    color: green;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    /* text-indent: 10px; */
    text-underline-offset: 0.8rem;
}

p{
    color: white;
    background: black;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    line-height: 40px;
    text-align: justify;
}
.btn-div{
    text-align: center;
    margin-top: 2rem;
}

.btn{
    padding: 1rem 2.5rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 17px;
    transition: all 1s;
}
.btn:hover{
    background-color: white;
    color: green;
}
#input{
    padding: 15px 45px;
    border-radius: 1rem;
    font-size: 16px;
    margin-right: 20px;
}